################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.user
/cskynet/.vs/cskynet/v15
/cskynet/bin/x64/Release
/cskynet/obj/x64/Release
